@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}

/* Mobile First */

body {
    background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    max-width: 750px;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header" "img" "main"
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.img-one{
    grid-area: img;
}

.logo {
    padding: 30px;
}

.img-one {
    background-image: url(./images/hero-mobile.jpg);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 50px;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 65px;
}

span {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

p {
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    padding: 15px 35px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

form {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

.form-control {
    margin-bottom: 10px;
    position: relative;
    padding: 20px 40px;
}

.form-control input {
    border: 1px solid hsl(0, 93%, 68%);
    border-radius: 40px;
    padding: 16px;
    width: 100%;
    display: block;
}

.form-control input:focus {
    outline: 0;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

button {
    cursor: pointer;
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 60px;
    padding: 15px;
    width: 18%;
    position: absolute;
    right: 20px;
    top: 20px;
}

button img {
    width: 25%;
}

/* Desktop view */

@media(min-width: 751px) {
    .container {
        max-width: 2040px;
        min-height: 100vh;
        grid-template-columns: 920px 1fr;
        grid-template-rows: 150px 1fr;
        grid-template-areas: "header img" "main img";
        
    }
    .img-one {
        background-image: url(./images/hero-desktop.jpg);
        max-width: 100%;
        min-height: auto;
        background-repeat: no-repeat;
        background-size:  100% 100% cover;
        grid-area: img;
    }
    header{
        padding: 50px 135px;
    }

    main h1, p, .form-control{
        margin: 15px 130px;
    }
    
    h1 {
        font-size: 72px;
        letter-spacing: 25px;
        padding-left: 30px;
        text-align: left;
    }
    p{
        text-align: left;
        line-height: 35px;
        word-spacing: 5px;
        font-size: 18px;
        /* width: 100%; */
    }


    .form-control input{
        padding: 23px;
       
    }

    button{
        width: 14%;
        border-radius: 60px;
        right: 90px;
        top: 35px;
    }
    button img{
        width: 16%;
    }
}